
label {
    display: block; 
    margin-bottom: 5px; 

    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 4px; 
    box-sizing: border-box; 
    border: none; 
    
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #4CAF50; 
    outline: none; /* стандартный стиль он убивает зеленые гранички ыыыы*/
}


button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    padding: 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 16px; 
    
}

button:hover {
    background-color: #45a049; 
}

form {
    width: 300px;
    margin: 0 auto;
}

h2{
    text-align : center;
}